<div>
    <div class="modifier grid">
        <label for="modifier">{{localize "RAILERS.dialogs.base.modifier"}}:</label>
        <input type="number" name="modifier" value="0" />
    </div>
    <div class="form-group grid">
        <label for="tn">{{localize "RAILERS.dialogs.base.selectTN"}}:</label>
        <select name="tn" id="tn">
            <option value="5">{{localize "RAILERS.dialogs.base.tn5"}}</option>
            <option selected value="6">{{localize "RAILERS.dialogs.base.tn6"}}</option>
            <option value="7">{{localize "RAILERS.dialogs.base.tn7"}}</option>
            <option value="8">{{localize "RAILERS.dialogs.base.tn8"}}</option>
        </select>
    </div>
    {{#if isRanged}}
    <div class="form-group grid">
      <label for="actionType">{{localize "RAILERS.dialogs.attack.selectActionType"}}:</label>
      <select name="actionType">
        <option value="singleFire">{{localize "RAILERS.dialogs.attack.singleFire"}}</option>
        <option value="blindFire">{{localize "RAILERS.dialogs.attack.blindFire"}}</option>
        <option value="burstFire">{{localize "RAILERS.dialogs.attack.burstFire"}}</option>
        <option value="sustainedFire">{{localize "RAILERS.dialogs.attack.sustainedFire"}}</option>
        <option value="fieldOfFire">{{localize "RAILERS.dialogs.attack.fieldOfFire"}}</option>
        <option value="reactiveShot">{{localize "RAILERS.dialogs.attack.reactiveShot"}}</option>
      </select>
    </div>
    {{/if}}
  
    {{#each activeEffects as |effect|}}
        <input type="checkbox" name="activeEffect" value="{{effect.id}}" {{#unless effect.disabled}}checked{{/unless}}> {{effect.label}}<br>
    {{/each}}
</div>
