{{! Attributes Tab }}
<section
  class='tab attributes {{tab.cssClass}}'
  data-group='primary'
  data-tab='attributes'
>
  <div class="resource">
    <label class="resource-label">{{localize "RAILERS.Item.Clothing.FIELDS.layer.label"}}</label>
    <select name="system.layer">
      {{selectOptions config.clothingTypeOptions selected=system.layer localize=true}}
    </select>
  </div>
  <div class="resource">
    <label class="resource-label">{{localize "RAILERS.Item.Clothing.FIELDS.protection"}}</label>
    <input type="number" name="system.protection" value="{{system.protection}}" data-dtype="Number"/>
  </div>
  <div class="resource">
    <label class="resource-label">{{localize "RAILERS.Item.Clothing.FIELDS.insulation"}}</label>
    <input type="number" name="system.insulation" value="{{system.insulation}}" data-dtype="Number"/>
  </div>
  <div class="resource">
    <label class="resource-label">{{localize "RAILERS.Item.base.FIELDS.stowage.label"}}</label>
    <select name="system.stowage">
    {{selectOptions config.stowageOptions selected=system.stowage localize=true}}
    </select>
  </div>
</section>