<section
  class='tab biography {{tab.cssClass}}'
  data-group='primary'
  data-tab='biography'
>
  <div class="asl">
    <div class="widthmin">
      <label for="system.age">{{localize "RAILERS.Age"}}:</label>
      <input type="text" name="system.age" value="{{system.age}}">  
    </div>
    <div class="widthmin">
      <label for="system.sex">{{localize "RAILERS.Sex"}}:</label>
      <input type="text" name="system.sex" value="{{system.sex}}">
    </div>
    <div class="fillspace">
      <label for="system.hometown">{{localize "RAILERS.Hometown"}}:</label>
      <input type="text" name="system.hometown" value="{{system.hometown}}">
    </div>  
  </div>
  <div class="contacts">
    <div>
      <label for="system.allies">{{localize "RAILERS.Allies"}}:</label>
      <textarea name="system.allies" rows="4" cols="50">{{system.allies}}</textarea>
    </div>
    <div>
      <label for="system.rivals">{{localize "RAILERS.Rivals"}}:</label>
      <textarea name="system.rivals" rows="4" cols="50">{{system.rivals}}</textarea>
    </div>
  </div>
  <div class="achievements">
    <div>
      <label for="system.successes">{{localize "RAILERS.Successes"}}:</label>
      <textarea name="system.successes" rows="4" cols="50">{{system.successes}}</textarea>
    </div>
    <div>
      <label for="system.failures">{{localize "RAILERS.Failures"}}:</label>
      <textarea name="system.failures" rows="4" cols="50">{{system.failures}}</textarea>
    </div>
    <div>
      <label for="system.goals">{{localize "RAILERS.Goals"}}:</label>
      <textarea name="system.goals" rows="4" cols="50">{{system.goals}}</textarea>
    </div>
  </div>
  <div>
    <label for="system">{{localize "RAILERS.Notes"}}:</label>
    <textarea name="system.notes" rows="4" cols="50">{{system.notes}}</textarea>
  </div>
</section>
