<section
  class='tab effects {{tab.cssClass}}'
  data-group='primary'
  data-tab='effects'
> 
  {{!-- Condition List --}}
  <ol class="items-list conditions-list">
    <li class="condition item flexrow items-header">
      <div class="item-name textcenter">{{localize "RAILERS.Item.base.FIELDS.name"}}</div>
      <div class="item-description condition-description textcenter">{{localize "RAILERS.Item.base.FIELDS.description"}}</div>
      <div class="item-controls">
        {{#if @root.editable}}
          <a
            class="item-control item-create"
            title="{{localize 'DOCUMENT.Create' type='Condition'}}"
            data-action="createDoc"
            data-document-class="Item"
            data-type="condition"
          >
            <i class="fas fa-plus"></i>
            {{localize "DOCUMENT.New" type="condition"}}
          </a>
        {{/if}}
      </div>
    </li>
    {{#each conditions as |item id|}}
      <li class="condition item flexrow" data-item-id="{{item._id}}" data-drag="true" data-document-class="Item">
        <div class="item-name">
          <div class="item-image">
            <a class="rollable" data-roll-type="condition" data-action="roll">
              <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
            </a>
          </div>
          <div>{{item.name}}</div>
        </div>
        <div class="item-description condition-description textcenter">{{{item.system.description}}}</div>
        <div class="item-controls">
          <a class="item-control item-edit" title="{{localize 'DOCUMENT.Update' type='Condition'}}" data-action="viewDoc">
            <i class="fas fa-edit"></i>
          </a>
          {{#if @root.editable}}
            <a class="item-control item-delete" title="{{localize 'DOCUMENT.Delete' type='Condition'}}" data-action="deleteDoc">
              <i class="fas fa-trash"></i>
            </a>
          {{/if}}
        </div>
      </li>
    {{/each}}
  </ol>

  {{#if (ne actor.type "demon") }}
  {{!-- Mutation List --}}
  <ol class="items-list mutations-list">
    <li class="mutation item flexrow items-header">
      <div class="item-name textcenter">{{localize "RAILERS.Item.base.FIELDS.name"}}</div>
      <div class="item-description mutation-description">{{localize "RAILERS.Item.base.FIELDS.description"}}</div>
      <div class="item-controls">
        {{#if @root.editable}}
          <a
            class="item-control item-create"
            title="{{localize 'DOCUMENT.Create' type='Mutation'}}"
            data-action="createDoc"
            data-document-class="Item"
            data-type="mutation"
          >
            <i class="fas fa-plus"></i>
            {{localize "DOCUMENT.New" type="mutation"}}
          </a>
        {{/if}}
      </div>
    </li>
    {{#each mutations as |item id|}}
      <li class="mutation item flexrow" data-item-id="{{item._id}}" data-drag="true" data-document-class="Item">
        <div class="item-name">
          <div class="item-image">
            <a class="rollable" data-roll-type="mutation" data-action="roll">
              <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
            </a>
          </div>
          <div>{{item.name}}</div>
        </div>
        <div class="item-description mutation-description">{{{item.system.description}}}</div>
        <div class="item-controls">
          <a class="item-control item-edit" title="{{localize 'DOCUMENT.Update' type='Mutation'}}" data-action="viewDoc">
            <i class="fas fa-edit"></i>
          </a>
          {{#if @root.editable}}
            <a class="item-control item-delete" title="{{localize 'DOCUMENT.Delete' type='Mutation'}}" data-action="deleteDoc">
              <i class="fas fa-trash"></i>
            </a>
          {{/if}}
        </div>
      </li>
    {{/each}}
  </ol>
  {{/if}}
</section>
