<section
  class='tab gear {{tab.cssClass}}'
  data-group='primary'
  data-tab='gear'
>
  <div class="gear-head">
    <div class="resource flex-group-center">
      <label class="resource-label">{{localize "RAILERS.Item.base.FIELDS.therms"}}</label>
      <div class="resource-content flex-group-center">
        <input type="number" class="therms" name="system.therms" value="{{system.therms}}"/>
      </div>
    </div>
    <div class="load-group">
      <div class="resource flex-group-center">
        <label>
          {{localize "RAILERS.Actor.base.FIELDS.load.onHand.label"}}
          {{#if (gt system.load.onHand.value system.load.onHand.max)}}
            <i class="fas fa-exclamation-triangle" data-tooltip="{{localize 'RAILERS.Actor.base.FIELDS.load.overloadTooltip'}}"></i>
          {{/if}}
        </label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="number" value="{{system.load.onHand.value}}" readonly/>
          <span> / </span>
          <input type="number" name="system.load.onHand.max" value="{{system.load.onHand.max}}" readonly/>
        </div>
      </div>
      <div class="resource flex-group-center">
        <label>{{localize "RAILERS.Actor.base.FIELDS.load.stowed.label"}}</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="number" value="{{system.load.stowed.value}}" readonly/>
          <span> / </span>
          <input type="number" name="system.load.stowed.max" value="{{system.load.stowed.max}}"/>
        </div>
      </div>
    </div>
  </div>

  {{!-- Gear List --}}
  <ol class="items-list gear-list">
    <li class="item flexrow items-header">
      <div class="item-name">{{localize "RAILERS.Item.Gear.label"}}</div>
      <div class="item-quantity">{{localize "RAILERS.Item.base.FIELDS.quantity"}}</div>
      <div class="item-load">{{localize "RAILERS.Item.base.FIELDS.load"}}</div>
      <div class="item-stowage">{{localize "RAILERS.Item.base.FIELDS.stowage.label"}}</div>
      <div class="item-controls">
        {{#if @root.editable}}
          <a
            class="item-control item-create"
            title="{{localize 'DOCUMENT.Create' type='Gear'}}"
            data-action="createDoc"
            data-document-class="Item"
            data-type="gear"
      >
            <i class="fas fa-plus"></i>
            {{localize "DOCUMENT.New" type="gear"}}
          </a>
        {{/if}}
      </div>
    </li>
    {{#each gear as |item id|}}
      <li class="item flexrow" data-item-id="{{item._id}}" data-drag="true" data-document-class="Item">
        <div class="item-name">
          <div class="item-image">
            <a data-roll-type="item" data-action="roll">
              <img src="{{item.img}}" width="24" height="24"/>
            </a>
          </div>
          <div data-tooltip="{{item.system.description}}">{{item.name}}</div>
        </div>
        <div class="item-quantity">{{item.system.quantity}}</div>
        <div class="item-load">{{item.system.load}}</div>
        <div class="item-stowage">
          <select data-action="updateStowage">
            {{selectOptions @root.config.stowageOptions selected=item.system.stowage localize=true}}
          </select>
        </div>
        <div class="item-controls">
          <a class="item-control item-edit" title="{{localize 'DOCUMENT.Update' type='Gear'}}" data-action="viewDoc">
            <i class="fas fa-edit"></i>
          </a>
          {{#if @root.editable}}
            <a class="item-control item-delete" title="{{localize 'DOCUMENT.Delete' type='Gear'}}" data-action="deleteDoc">
              <i class="fas fa-trash"></i>
            </a>
          {{/if}}
        </div>
      </li>
    {{/each}}
  </ol>

  {{!-- Melee Weapons List --}}
  <ol class="items-list weapons-list melee-list">
    <li class="item flexrow items-header">
      <div class="item-name">{{localize "RAILERS.Item.Weapon.labelMelee"}}</div>
      <div class="item-damage">{{localize "RAILERS.Item.Weapon.FIELDS.damage"}}</div>
      <div class="item-attack">{{localize "RAILERS.Item.Weapon.FIELDS.attack"}}</div>
      <div class="item-load">{{localize "RAILERS.Item.base.FIELDS.load"}}</div>
      <div class="item-stowage">{{localize "RAILERS.Item.base.FIELDS.stowage.label"}}</div>
      <div class="item-controls">
        {{#if @root.editable}}
          <a
            class="item-control item-create"
            title="{{localize 'DOCUMENT.Create' type='Weapon'}}"
            data-action="createDoc"
            data-document-class="Item"
            data-type="weapon"
            data-system.range="melee"
          >
            <i class="fas fa-plus"></i>
            {{localize "DOCUMENT.New" type="weapon"}}
          </a>
        {{/if}}
      </div>
    </li>
    {{#each meleeWeapons as |item id|}}
      <li class="item flexrow" data-item-id="{{item._id}}" data-drag="true" data-document-class="Item">
        <div class="item-name">
          <div class="item-image">
            <a data-roll-type="item" data-action="roll">
              <img src="{{item.img}}" width="24" height="24"/>
            </a>
          </div>
          <div data-tooltip="{{item.system.description}}">{{item.name}}</div>
        </div>
        <div class="item-damage">{{item.system.damage}}{{localize "RAILERS.Item.Weapon.FIELDS.slashWound"}}{{item.system.severity}}</div>
        <div class="item-attack">{{item.system.localizedAttackAction}}</div>
        <div class="item-load">{{item.system.load}}</div>
        <div class="item-stowage">
          <select data-action="updateStowage">
            {{selectOptions @root.config.stowageOptions selected=item.system.stowage localize=true}}
          </select>
        </div>
        <div class="item-controls">
          <a class="item-control item-edit" title="{{localize 'DOCUMENT.Update' type='Weapon'}}" data-action="viewDoc">
            <i class="fas fa-edit"></i>
          </a>
          {{#if @root.editable}}
            <a class="item-control item-delete" title="{{localize 'DOCUMENT.Delete' type='Weapon'}}" data-action="deleteDoc">
              <i class="fas fa-trash"></i>
            </a>
          {{/if}}
        </div>
      </li>
    {{/each}}
  </ol>

  {{!-- Ranged Weapons List --}}
  <ol class="items-list weapons-list ranged-list">
    <li class="item flexrow items-header">
      <div class="item-name">{{localize "RAILERS.Item.Weapon.labelRanged"}}</div>
      <div class="item-damage">{{localize "RAILERS.Item.Weapon.FIELDS.damage"}}</div>
      <div class="item-attack">{{localize "RAILERS.Item.Weapon.FIELDS.attack"}}</div>
      <div class="item-range">{{localize "RAILERS.Item.Weapon.FIELDS.range.label"}}</div>
      <div class="item-reload">{{localize "RAILERS.Item.Weapon.FIELDS.reload"}}</div>
      <div class="item-magazine">{{localize "RAILERS.Item.Weapon.FIELDS.magazine"}}</div>
      <div class="item-load">{{localize "RAILERS.Item.base.FIELDS.load"}}</div>
      <div class="item-stowage">{{localize "RAILERS.Item.base.FIELDS.stowage.label"}}</div>
      <div class="item-controls">
        {{#if @root.editable}}
          <a
            class="item-control item-create"
            title="{{localize 'DOCUMENT.Create' type='Weapon'}}"
            data-action="createDoc"
            data-document-class="Item"
            data-type="weapon"
            data-system.range="short"
          >
            <i class="fas fa-plus"></i>
            {{localize "DOCUMENT.New" type="weapon"}}
          </a>
        {{/if}}
      </div>
    </li>
    {{#each rangedWeapons as |item id|}}
      <li class="item flexrow" data-item-id="{{item._id}}" data-drag="true" data-document-class="Item">
        <div class="item-name">
          <div class="item-image">
            <a data-roll-type="item" data-action="roll">
              <img src="{{item.img}}" width="24" height="24"/>
            </a>
          </div>
          <div data-tooltip="{{item.system.description}}">{{item.name}}</div>
        </div>
        <div class="item-damage">{{item.system.damage}}{{localize "RAILERS.Item.Weapon.FIELDS.slashWound"}}{{item.system.severity}}</div>
        <div class="item-attack">{{item.system.localizedAttackAction}}</div>
        <div class="item-range">{{item.system.localizedRange}}</div>
        <div class="item-reload">{{item.system.localizedReloadAction}}</div>
        <div class="item-magazine">
          {{#if item.system.isConsumable}}
            {{item.system.quantity}}
          {{else}}
             {{item.system.magazine.value}} / {{item.system.magazine.max}}
          {{/if}}
        </div>
        <div class="item-load">{{item.system.load}}</div>
        <div class="item-stowage">
          <select data-action="updateStowage">
            {{selectOptions @root.config.stowageOptions selected=item.system.stowage localize=true}}
          </select>
        </div>
        <div class="item-controls">
          {{#if item.system.magazine.max}}
            <a class="item-control weapon-reload" title="{{localize 'RAILERS.Item.base.actions.reload'}}" data-action="weaponReload">
              <i class="fas fa-sync-alt"></i>
            </a>
          {{/if}}
          <a class="item-control item-edit" title="{{localize 'DOCUMENT.Update' type='Weapon'}}" data-action="viewDoc">
            <i class="fas fa-edit"></i>
          </a>
          {{#if @root.editable}}
            <a class="item-control item-delete" title="{{localize 'DOCUMENT.Delete' type='Weapon'}}" data-action="deleteDoc">
              <i class="fas fa-trash"></i>
            </a>
          {{/if}}
        </div>
      </li>
    {{/each}}
  </ol>

  {{!-- Clothing List --}}
  <ol class="items-list clothing-list">
    <li class="item flexrow items-header">
      <div class="item-name">{{localize "RAILERS.Item.Clothing.label"}}</div>
      <div class="item-layer">{{localize "RAILERS.Item.Clothing.FIELDS.layer.label"}}</div>
      <div class="item-protection">{{localize "RAILERS.Item.Clothing.FIELDS.protection"}}</div>
      <div class="item-insulation">{{localize "RAILERS.Item.Clothing.FIELDS.insulation"}}</div>
      <div class="item-load">{{localize "RAILERS.Item.base.FIELDS.load"}}</div>
      <div class="item-equipped">{{localize "RAILERS.Item.Clothing.FIELDS.equipped"}}</div>
      <div class="item-stowage">{{localize "RAILERS.Item.base.FIELDS.stowage.label"}}</div>
      <div class="item-controls">
        {{#if @root.editable}}
          <a
            class="item-control item-create"
            title="{{localize 'DOCUMENT.Create' type='Clothing'}}"
            data-action="createDoc"
            data-document-class="Item"
            data-type="clothing"
          >
            <i class="fas fa-plus"></i>
            {{localize "DOCUMENT.New" type="clothing"}}
          </a>
        {{/if}}
      </div>
    </li>
    {{#each clothing as |item id|}}
      <li class="item flexrow clothing-headgear" data-item-id="{{item._id}}" data-drag="true" data-document-class="Item">
        <div class="item-name">
          <div class="item-image">
            <a data-roll-type="item" data-action="roll">
              <img src="{{item.img}}" width="24" height="24"/>
            </a>
          </div>
          <div data-tooltip="{{item.system.description}}">{{item.name}}</div>
        </div>
        <div class="item-layer">{{item.system.localizedLayer}}</div>
        <div class="item-protection">{{item.system.protection}}</div>
        <div class="item-insulation">{{item.system.insulation}}</div>
        <div class="item-load">{{item.system.load}}</div>
        <div class="item-equipped">
          {{#if (eq item.system.stowage 'onHand')}}
            <input type="checkbox" data-action="toggleEquipClothing" {{#if item.system.equipped}}checked{{/if}}/>
          {{/if}}
        </div>
        <div class="item-stowage">
          <select data-action="updateStowage">
            {{selectOptions @root.config.stowageOptions selected=item.system.stowage localize=true}}
          </select>
        </div>
        <div class="item-controls">
          <a class="item-control item-edit" title="{{localize 'DOCUMENT.Update' type='Clothing'}}" data-action="viewDoc">
            <i class="fas fa-edit"></i>
          </a>
          {{#if @root.editable}}
            <a class="item-control item-delete" title="{{localize 'DOCUMENT.Delete' type='Clothing'}}" data-action="deleteDoc">
              <i class="fas fa-trash"></i>
            </a>
          {{/if}}
        </div>
      </li>
    {{/each}}
  </ol>
  {{!-- Ammo List --}}
  <ol class="items-list ammo-list">
    <li class="item flexrow items-header">
      <div class="item-name">{{localize "RAILERS.Item.Ammo.label"}}</div>
      <div class="item-ammo-type">{{localize "RAILERS.Item.Ammo.FIELDS.ammoType.label"}}</div>
      <div class="item-rounds">{{localize "RAILERS.Item.Ammo.FIELDS.rounds"}}</div>
      <div class="item-load">{{localize "RAILERS.Item.base.FIELDS.load"}}</div>
      <div class="item-stowage">{{localize "RAILERS.Item.base.FIELDS.stowage.label"}}</div>
      <div class="item-controls">
        {{#if @root.editable}}
          <a
            class="item-control item-create"
            title="{{localize 'DOCUMENT.Create' type='Ammo'}}"
            data-action="createDoc"
            data-document-class="Item"
            data-type="ammo"
          >
            <i class="fas fa-plus"></i>
            {{localize "DOCUMENT.New" type="ammo"}}
          </a>
        {{/if}}
      </div>
    </li>
    {{#each ammo as |item id|}}
      <li class="item flexrow" data-item-id="{{item._id}}" data-drag="true" data-document-class="Item">
        <div class="item-name">
          <div class="item-image">
            <a data-roll-type="item" data-action="roll">
              <img src="{{item.img}}" width="24" height="24"/>
            </a>
          </div>
          <div data-tooltip="{{item.system.description}}">{{item.name}}</div>
        </div>
        <div class="item-ammo-type">{{item.system.localizedAmmoType}}</div>
        <div class="item-rounds">{{item.system.roundsRemaining}}</div>
        <div class="item-load">{{item.system.load}}</div>
        <div class="item-stowage">
          <select data-action="updateStowage">
            {{selectOptions @root.config.stowageOptions selected=item.system.stowage localize=true}}
          </select>
        </div>
        <div class="item-controls">
          <a class="item-control item-edit" title="{{localize 'DOCUMENT.Update' type='Ammo'}}" data-action="viewDoc">
            <i class="fas fa-edit"></i>
          </a>
          {{#if @root.editable}}
            <a class="item-control item-delete" title="{{localize 'DOCUMENT.Delete' type='Ammo'}}" data-action="deleteDoc">
              <i class="fas fa-trash"></i>
            </a>
          {{/if}}
        </div>
      </li>
    {{/each}}
  </ol>

  {{!-- Magazine List --}}
  <ol class="items-list magazine-list">
    <li class="item flexrow items-header">
      <div class="item-name">{{localize "RAILERS.Item.Magazine.label"}}</div>
      <div class="item-ammo-type">{{localize "RAILERS.Item.Magazine.FIELDS.ammoType"}}</div>
      <div class="item-ammo">{{localize "RAILERS.Item.Ammo.FIELDS.rounds"}}</div>
      <div class="item-loaded">{{localize "RAILERS.Item.Magazine.FIELDS.loaded"}}</div>
      <div class="item-load">{{localize "RAILERS.Item.base.FIELDS.load"}}</div>
      <div class="item-stowage">{{localize "RAILERS.Item.base.FIELDS.stowage.label"}}</div>
      <div class="item-controls">
        {{#if @root.editable}}
          <a
            class="item-control item-create"
            title="{{localize 'DOCUMENT.Create' type='Magazine'}}"
            data-action="createDoc"
            data-document-class="Item"
            data-type="magazine"
          >
            <i class="fas fa-plus"></i>
            {{localize "DOCUMENT.New" type="magazine"}}
          </a>
        {{/if}}
      </div>
    </li>
    {{#each magazines as |item id|}}
      <li class="item flexrow" data-item-id="{{item._id}}" data-drag="true" data-document-class="Item">
        <div class="item-name">
          <div class="item-image">
            <a data-roll-type="item" data-action="roll">
              <img src="{{item.img}}" width="24" height="24"/>
            </a>
          </div>
          <div data-tooltip="{{item.system.description}}">{{item.name}}</div>
        </div>
        <div class="item-ammo-type">{{item.system.localizedAmmoType}}</div>
        <div class="item-ammo">{{item.system.ammo.value}} / {{item.system.ammo.max}}</div>
        <div class="item-loaded">
          {{#if item.system.loadedInWeapon}}
            {{localize "RAILERS.Item.Magazine.FIELDS.loadedIn"}} {{item.system.loadedInWeapon}}
          {{else}}
            {{localize "RAILERS.Item.Magazine.FIELDS.unloaded"}}
          {{/if}}
        </div>
        <div class="item-load">{{item.system.load}}</div>
        <div class="item-stowage">
          <select data-action="updateStowage">
            {{selectOptions @root.config.stowageOptions selected=item.system.stowage localize=true}}
          </select>
        </div>
        <div class="item-controls">
          <a class="item-control item-edit" title="{{localize 'DOCUMENT.Update' type='Magazine'}}" data-action="viewDoc">
            <i class="fas fa-edit"></i>
          </a>
          {{#if @root.editable}}
            <a class="item-control item-delete" title="{{localize 'DOCUMENT.Delete' type='Magazine'}}" data-action="deleteDoc">
              <i class="fas fa-trash"></i>
            </a>
          {{/if}}
        </div>
      </li>
    {{/each}}
  </ol>
</section>