<header class="sheet-head">
  <div class="header-fields">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" data-action="editImage" title="{{actor.name}}" height="100" width="100"/>
    <div class="charname">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
      {{#if (eq actor.type "demon")}}
      <div class="demon-tags">
        <input type="text" name="system.tags" value="{{system.tags}}" data-dtype="String" placeholder="Tags"/>
      </div>
      {{/if}}
      {{#if (eq actor.type "train")}}
      <div class="train-select">
        <select name="system.locomotive" data-action="locomotiveChange">
          {{selectOptions config.locomotiveOptions selected=system.locomotive localize=true}}
        </select>
      </div>
      {{/if}}
      {{#if (eq actor.type "character")}}
        {{#if @root.editable}}
          {{#unless @root.isCreated}}
          <button type="button" class="header-button create-character" title="{{localize 'RAILERS.apps.character.openCreator'}}">
            <i class="fas fa-user-plus"></i> {{localize "RAILERS.apps.character.openCreator"}}
          </button>
         {{/unless}}
        {{/if}}
      {{/if}}
    </div>
    
    {{#if (eq actor.type "train")}}
    <div class="train-resources">
      <div class="resource flex-group-center">
        <label for="system.crew" class="resource-label">{{localize "RAILERS.Actor.Train.FIELDS.crew"}}</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="number" name="system.crew" value="{{system.crew}}" data-dtype="Number"/>
        </div>
      </div>

      <div class="resource flex-group-center">
        <label for="system.passengers" class="resource-label">{{localize "RAILERS.Actor.Train.FIELDS.passengers"}}</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="number" name="system.passengers" value="{{system.passengers}}" data-dtype="Number"/>
        </div>
      </div>

      <div class="resource flex-group-center">
        <label for="system.capacity" class="resource-label">{{localize "RAILERS.Actor.Train.FIELDS.capacity"}}</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="number" name="system.capacity" value="{{system.capacity}}" data-dtype="Number" readonly/>
        </div>
      </div>

      <div class="resource flex-group-center">
        <label for="system.rations.value" class="resource-label">{{localize "RAILERS.Actor.Train.FIELDS.rations.value"}}</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="number" name="system.rations.value" value="{{system.rations.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="number" name="system.rations.max" value="{{system.rations.max}}" data-dtype="Number"/>
        </div>
      </div>
    </div>
    {{/if}}

    {{#ifOr (eq actor.type "character") (eq actor.type "npc") (eq actor.type "demon")}}
    {{!-- HP --}}
    <div class="health">
      <div class="resource flex-group-center">
        <label for="system.hitpoints.value" class="resource-label">{{localize "RAILERS.Actor.base.FIELDS.hitpoints.value"}}</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="number" name="system.hitpoints.value" value="{{system.hitpoints.value}}" data-dtype="Number" readonly/>
          <span> / </span>
          <input type="number" name="system.hitpoints.max" value="{{system.hitpoints.max}}" data-dtype="Number"/>
        </div>
        {{#if (eq actor.type "demon")}}
          <button type="button" data-roll-type="hp" data-action="roll" class="roll-hp">{{localize "RAILERS.Actor.Demon.actions.rollHP"}}</button>
        {{/if}}
      </div>

    {{!-- Wounds --}}
      <div class="resource flex-group-center">
        <label for="system.wounds.value" class="resource-label">{{localize "RAILERS.Actor.base.FIELDS.wounds.value"}}</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="number" name="system.wounds.value" value="{{system.wounds.value}}" data-dtype="Number" readonly/>
          <span> / </span>
          <input type="number" name="system.wounds.max" value="{{system.wounds.max}}" data-dtype="Number" readonly/>
        </div>
      </div>
    {{/ifOr}}

    {{#ifOr (eq actor.type "character") (eq actor.type "npc")}}
    {{!-- Nerve --}}
      <div class="resource flex-group-center">
        <label for="system.nerve.value" class="resource-label">{{localize "RAILERS.Actor.base.FIELDS.nerve.value"}}</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="number" name="system.nerve.value" value="{{system.nerve.value}}" data-dtype="Number"/>
          <span> / </span>
          <input type="number" name="system.nerve.max" value="{{system.nerve.max}}" data-dtype="Number"/>
        </div>
      </div>
    </div>

    {{#if (eq actor.type "npc")}}
    <div class="npc-attributes">
      <div class="resource flex-group-center">
        <label for="system.attributes.primary.value" class="resource-label roll" data-roll-type="stat" data-action="roll" data-npcpool="{{system.attributes.primary.value}}">{{localize "RAILERS.Attributes.Primary"}}</label>
        <input type="number" name="system.attributes.primary.value" value="{{system.attributes.primary.value}}" data-dtype="Number"/>
      </div>
      <div class="resource flex-group-center">
        <label for="system.attributes.secondary.value" class="resource-label roll" data-roll-type="stat" data-action="roll" data-npcpool="{{system.attributes.secondary.value}}">{{localize "RAILERS.Attributes.Secondary"}}</label>
        <input type="number" name="system.attributes.secondary.value" value="{{system.attributes.secondary.value}}" data-dtype="Number" readonly/>
      </div>
      <div class="resource flex-group-center">
        <label class="resource-label roll" data-roll-type="stat" data-action="roll" data-npcpool="0">{{localize "RAILERS.Attributes.Unskilled"}}</label>
        <input type="number" value="0" data-dtype="Number" readonly/>
      </div>
    </div>
    {{/if}}

    {{!-- Corruption --}}
    <div class="corruption">
      <div class="resource flex-group-center">
        <label for="system.corruption.value" class="resource-label">{{localize "RAILERS.Actor.base.FIELDS.corruption"}}</label>
        <div class="resource-content flexrow flex-center flex-between">
          <input type="number" name="system.corruption" value="{{system.corruption}}" data-dtype="Number"/>
        </div>
      </div>
    </div>

    {{!-- Thermal Threshold --}}
    <div class="thermal-threshold">
      <div class="resource flex-group-center">
        <label class="resource-label">{{localize "RAILERS.Actor.base.FIELDS.thermalThreshold"}}</label>
        <input type="number" name="system.thermalThreshold" value="{{system.thermalThreshold}}" data-dtype="Number" readonly/>
      </div>
    </div>

    {{!-- Initiative Pool --}}
    <div class="resource flex-group-center">
      <label class="resource-label">{{localize "RAILERS.Actor.base.FIELDS.initiativePool"}}</label>
      <input type="number" name="system.initiativePool" value="{{system.initiativePool}}" data-dtype="Number" readonly/>
    </div>

    {{!-- Defense Pool --}}
    <div class="resource flex-group-center">
      <label class="resource-label rollable" data-roll-type="defense" data-action="roll">{{localize "RAILERS.Actor.base.FIELDS.defensePool"}}</label>
      <input type="number" name="system.defensePool" value="{{system.defensePool}}" data-dtype="Number" readonly/>
    </div>
    {{/ifOr}}

    {{!-- XP --}}
    {{#if (eq actor.type "character")}}
    <div class="xp">
      <div class="resource flex-group-center">
        <label class="resource-label">{{localize "RAILERS.Actor.Character.FIELDS.xp"}}</label>
        <input type="number" name="system.xp" value="{{system.xp}}" data-dtype="Number"/>
      </div>
    </div>
    {{/if}}
  </div>

  {{#if (eq actor.type "demon")}}
  {{!-- Attributes --}}
  <div class="demon-attributes">
    <div class="resource flex-group-center">
      <label for="system.attributes.strength.value" class="resource-label flex-group-center roll" data-roll-type="stat" data-action="roll" data-npcpool="{{system.attributes.strength.value}}">{{localize "RAILERS.Attributes.Strength"}}</label>
      <input type="number" name="system.attributes.strength.value" value="{{system.attributes.strength.value}}" data-dtype="Number"/>
    </div>

    <div class="resource flex-group-center">
      <label for="system.attributes.agility.value" class="resource-label flex-group-center roll" data-roll-type="stat" data-action="roll" data-npcpool="{{system.attributes.agility.value}}">{{localize "RAILERS.Attributes.Agility"}}</label>
      <input type="number" name="system.attributes.agility.value" value="{{system.attributes.agility.value}}" data-dtype="Number"/>
    </div>

    <div class="resource flex-group-center">
      <label for="system.attributes.intellect.value" class="resource-label flex-group-center roll" data-roll-type="stat" data-action="roll" data-npcpool="{{system.attributes.intellect.value}}">{{localize "RAILERS.Attributes.Intellect"}}</label>
      <input type="number" name="system.attributes.intellect.value" value="{{system.attributes.intellect.value}}" data-dtype="Number"/>
    </div>

    <div class="resource flex-group-center">
      <label for="system.attributes.endurance.value" class="resource-label flex-group-center roll" data-roll-type="stat" data-action="roll" data-npcpool="{{system.attributes.endurance.value}}">{{localize "RAILERS.Attributes.Endurance"}}</label>
      <input type="number" name="system.attributes.endurance.value" value="{{system.attributes.endurance.value}}" data-dtype="Number"/>
    </div>

    <div class="resource flex-group-center">
      <label for="system.fear" class="resource-label flex-group-center">{{localize "RAILERS.Actor.base.FIELDS.fear"}}</label>
      <input type="number" name="system.fear" value="{{system.fear}}" data-dtype="Number"/>
    </div>

    <div class="resource flex-group-center">
      <label for="system.attributes.attack" class="resource-label flex-group-center">{{localize "RAILERS.Attributes.Attack"}}</label>
      <div class="resource-content flexrow flex-center flex-between">
        <input type="number" name="system.damage" value="{{system.damage}}" data-dtype="Number"/>
        <span>{{localize "RAILERS.Item.Weapon.FIELDS.slashWound"}}</span>
        <input type="number" name="system.severity" value="{{system.severity}}" data-dtype="Number"/>
      </div>
    </div>
  </div>
  {{/if}}

  {{!-- Train-specific fields --}}
  {{#if (eq actor.type "train")}}
  <div class="train-attributes">
    <div class="resource flex-group-center">
      <label for="system.armor" class="resource-label">{{localize "RAILERS.Actor.Train.FIELDS.armor"}}</label>
      <div class="resource-content flexrow flex-center flex-between">
        <input type="number" name="system.armor" value="{{system.armor}}" data-dtype="Number"/>
      </div>
    </div>

    <div class="resource flex-group-center">
      <label for="system.speed" class="resource-label">{{localize "RAILERS.Actor.Train.FIELDS.speed"}}</label>
      <div class="resource-content flexrow flex-center flex-between">
        <input type="number" name="system.speed" value="{{system.speed}}" data-dtype="Number"/>
      </div>
    </div>

    <div class="resource flex-group-center">
      <label for="system.power.value" class="resource-label">{{localize "RAILERS.Actor.Train.FIELDS.power.label"}}</label>
      <div class="resource-content flexrow flex-center flex-between">
        <input type="number" name="system.power.value" value="{{system.power.value}}" data-dtype="Number"/>
        <span> / </span>
        <input type="number" name="system.power.max" value="{{system.power.max}}" data-dtype="Number"/>
      </div>
    </div>

    <div class="resource flex-group-center">
      <label for="system.weight.value" class="resource-label">{{localize "RAILERS.Actor.Train.FIELDS.weight.label"}}</label>
      <div class="resource-content flexrow flex-center flex-between">
        <input type="number" class="w50" name="system.weight.value" value="{{system.weight.value}}" data-dtype="Number"/>
        <span> / </span>
        <input type="number" class="w50" name="system.weight.max" value="{{system.weight.max}}" data-dtype="Number"/>
      </div>
    </div>

    <div class="resource flex-group-center">
      <label for="system.fuel.value" class="resource-label">{{localize "RAILERS.Actor.Train.FIELDS.fuel.value"}}</label>
      <div class="resource-content flexrow flex-center flex-between">
        <input type="number" class="w40" name="system.fuel.value" value="{{system.fuel.value}}" data-dtype="Number"/>
        <span> / </span>
        <input type="number" class="w40" name="system.fuel.max" value="{{system.fuel.max}}" data-dtype="Number"/>
      </div>
    </div>
  </div>
  {{/if}}
</header>