{{!-- Sheet Header --}}
<header class="sheet-head">
  <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
  <div class="header-fields">
    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>

    {{#if (eq actor.type "npc")}}
      {{!-- NPC-specific header fields --}}
      <div class="resources grid grid-3col">
        <div class="resource flex-group-center">
          <label for="system.primary" class="resource-label roll" data-npcpool="{{system.primary}}">{{localize "RAILERS.Primary"}}</label>
          <input type="number" name="system.primary" value="{{system.primary}}" data-dtype="Number"/>
        </div>
        <div class="resource flex-group-center">
          <label for="system.secondary" class="resource-label roll" data-npcpool="{{system.secondary}}">{{localize "RAILERS.Secondary"}}</label>
          <input type="number" name="system.secondary" value="{{system.secondary}}" data-dtype="Number" readonly/>
        </div>
        <div class="resource flex-group-center">
          <label class="resource-label roll" data-npcpool="0">{{localize "RAILERS.Tertiary"}}</label>
        </div>
      </div>
    {{/if}}

    {{#if (eq actor.type "demon")}}
      {{!-- Demon-specific header fields --}}
      <input type="text" name="system.tags" value="{{system.tags}}" data-dtype="String" placeholder="Tags"/>
    {{/if}}

    {{#if (eq actor.type "train")}}
      {{!-- Train-specific header fields --}}
      <select name="system.locomotive">
        {{selectOptions locomotiveOptions selected=system.locomotive localize=true}}
      </select>
    {{/if}}
  </div>
</header>