<section
  class='tab skills {{tab.cssClass}}'
  data-group='primary'
  data-tab='skills'
> 
  <div class="skill-tab">
    {{#each system.attributes as |attribute a|}}
      <div class="att-group">
        <div class="attribute">
          <label for="attribute" class="roll att-label" 
            data-attribute="{{a}}"
            data-action="statRoll" 
            data-attpool="{{attribute.value}}" 
            data-label="{{localize attribute.label}}"
            data-rollable="{{#if (eq (localize attribute.label) (localize 'RAILERS.Attributes.Fortitude'))}}false{{else}}true{{/if}}">
            {{localize attribute.label}}
          </label>
          <input type="number" name="system.attributes.{{a}}.value" value="{{attribute.value}}" data-dtype="Number"/>
        </div>
        <div class="skill-list">
        {{#each skills as |skill s|}}
          <div class="skill">
            <label for="skill" class="roll skill-label" 
                  data-skill="{{s}}" 
                  data-action="statRoll"
                  data-attpool="{{attribute.value}}" 
                  data-skillpool="{{skill.value}}" 
                  data-label="{{localize skill.label}}"
                  data-special="{{#if (or (eq (localize skill.label) (localize 'RAILERS.Skills.Endurance')) (eq (localize skill.label) (localize 'RAILERS.Skills.Resolve')))}}true{{else}}false{{/if}}">
              {{localize skill.label}}
            </label>
            <input type="number" name="system.attributes.{{a}}.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number"/>
          </div>
        {{/each}}
        </div>
      </div>
    {{/each}}
  </div>
</section>