<section
  class="tab skills {{tab.cssClass}}"
  data-group="primary"
  data-tab="skills"
> 
  <div class="skill-tab">
    <div class="attribute-skill-container">
      <!-- Attributes -->
      <div class="attribute-container">
        {{#each system.attributes as |attribute a|}}
          <div class="attribute">
            <label
              for="attribute-{{a}}"
              class="roll att-label"
              data-attribute="{{a}}"
              data-action="roll"
              data-roll-type="stat"
              data-attpool="{{attribute.mod}}"
              data-label="{{localize attribute.label}}"
              data-rollable="{{#if (eq a 'fortitude')}}false{{else}}true{{/if}}"
            >
              {{localize attribute.label}}
            </label>
            <div class="attribute-inputs">
              <input
                type="number"
                name="system.attributes.{{a}}.value"
                value="{{attribute.value}}"
                title="{{localize 'RAILERS.Actor.Character.FIELDS.attributeValue'}}"
              />
              <input
                type="number"
                value="{{attribute.mod}}"
                readonly
                title="{{localize 'RAILERS.Actor.Character.FIELDS.attributeMod'}}"
              />
            </div>
          </div>
        {{/each}}
      </div>

      <!-- Single Dividing Line -->
      <hr class="attribute-skill-divider">

      <!-- Skills -->
      <div class="skill-container">
        {{#each system.attributes as |attribute a|}}
          <div class="skill-list">
            {{#each attribute.skills as |skill s|}}
              <div class="skill">
                <label
                  for="skill-{{a}}-{{s}}"
                  class="roll skill-label"
                  data-skill="{{s}}"
                  data-action="roll"
                  data-roll-type="stat"
                  data-attpool="{{attribute.mod}}"
                  data-skillpool="{{skill.value}}"
                  data-label="{{localize skill.label}}"
                  data-special="{{#if (or (eq s 'endurance') (eq s 'resolve'))}}true{{else}}false{{/if}}"
                >
                  {{localize skill.label}}
                </label>
                <input
                  type="number"
                  name="system.attributes.{{a}}.skills.{{s}}.value"
                  value="{{skill.value}}"
                  title="{{localize 'RAILERS.Actor.Character.FIELDS.skillValue'}}"
                />
              </div>
            {{/each}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>