<section
  class='tab wounds {{tab.cssClass}}'
  data-group='primary'
  data-tab='wounds'
>  
  <ol class="items-list wound-list">
    <li class="item flexrow items-header">
      <div class="item-name wound-name">{{localize "RAILERS.Wound"}}</div>
      <div class="wound-damage">{{localize "RAILERS.Damage"}}</div>
      <div class="wound-severity">{{localize "RAILERS.Severity"}}</div>
      <div class="item-controls wound-controls">
        <a class="wound-control wound-create" title="{{localize 'RAILERS.AddWound'}}" data-type="wound"><i class="fas fa-plus"></i> {{localize "RAILERS.AddWound"}}</a>
      </div>
    </li>
    {{#each items as |item id|}}
      {{#if (eq item.type "wound")}}
        <li class="item wound flexrow" data-wound-id="{{item._id}}">
          <div class="item-name wounds-name">
            <div class="item-image">
              <a class="rollable" data-roll-type="item"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></a>
            </div>
            <h4>{{item.name}}</h4>
          </div>
          <div class="wound-damage">{{item.system.damage}}</div>
          <div class="wound-severity">{{item.system.severity}}</div>
          <div class="wound-controls">
            <a class="wound-control wound-heal" title="{{localize 'RAILERS.HealWound'}}"><i class="fas fa-minus"></i></a>
            <a class="wound-control wound-edit" title="{{localize 'RAILERS.EditWound'}}"><i class="fas fa-edit"></i></a>
            <a class="wound-control wound-delete" title="{{localize 'RAILERS.ClearWound'}}"><i class="fas fa-trash"></i></a>
          </div>
        </li>
      {{/if}}
    {{/each}}
  </ol>
</section>