<header class="sheet-head">
  <div class="header-top">
    <div class="header-identity">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" data-action="editImage" title="{{actor.name}}" height="125" width="125"/>
        <div class="header-name-vitals">
            <div class="charname name-xp">
                <h1><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
                <div class="resource flex-group-center">
                  <label class="resource-label">{{localize "RAILERS.Actor.Character.FIELDS.xp"}}</label>
                  <div class="resource-content flexrow flex-center flex-between">
                    <input type="number" name="system.xp" value="{{system.xp}}"/>
                  </div>
                </div>
            </div>
            <div class="header-vitals">
                <div class="resource flex-group-center">
                    <label class="resource-label">{{localize "RAILERS.Actor.base.FIELDS.hitpoints.value"}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="number" value="{{system.hitpoints.value}}" readonly/>
                        <span> / </span>
                        <input type="number" name="system.hitpoints.max" value="{{system.hitpoints.max}}"/>
                    </div>
                </div>
                <div class="resource flex-group-center">
                    <label class="resource-label">{{localize "RAILERS.Actor.base.FIELDS.wounds.value"}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="number" value="{{system.wounds.value}}" readonly/>
                        <span> / </span>
                        <input type="number" value="{{system.wounds.max}}" readonly/>
                    </div>
                </div>

                <div class="resource flex-group-center">
                    <label class="resource-label">{{localize "RAILERS.Actor.base.FIELDS.nerve.value"}}</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="number" name="system.nerve.value" value="{{system.nerve.value}}"/>
                        <span> / </span>
                        <input type="number" name="system.nerve.max" value="{{system.nerve.max}}"/>
                    </div>
                </div>
                <div class="hp-button">
                {{#if showAttributeRollerButton}}
                    <button type="button" data-action="openAttributeRoller">
                    <i class="fas fa-dice"></i>
                    {{localize "RAILERS.Actor.Character.actions.rollAttr"}}
                    </button>
                {{else if showHpRollButton}}
                    <button type="button" data-roll-type="hp" data-action="roll" class="roll-hp">
                    {{localize "RAILERS.Actor.Character.actions.rollHPNerve"}}
                    </button>
                {{/if}}
                </div>
            </div>
        </div>
    </div>
  </div>
</header>