<header class="sheet-head">
  <div class="header-top">
    <div class="header-identity">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" data-action="editImage" title="{{actor.name}}" height="100" width="100"/>
      <div class="header-name-vitals">
        <div class="charname">
          <h1><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
          <select class="locomotive-select">
            {{selectOptions config.locomotiveOptions selected=system.locomotive localize=true}}
          </select>
        </div>
      </div>
    </div>

    {{#if locomotives}}
    <div class="header-locomotives">
      <div class="locomotive-list-header">
        <label class="section-label">{{localize "RAILERS.Actor.Train.FIELDS.additionalLocomotives"}}</label>
        <a class="item-create" data-action="addLocomotive" title="{{localize 'RAILERS.Actor.Train.actions.addLocomotive'}}">
          <i class="fas fa-plus"></i>
        </a>
      </div>
      <ol class="locomotive-list">
        {{#each locomotives as |item id|}}
          <li class="locomotive-entry" data-item-id="{{item._id}}">
            <span class="locomotive-name">{{item.name}}</span>
            <span class="locomotive-stat" data-tooltip="{{localize 'RAILERS.Actor.Locomotive.FIELDS.power.label'}}">
              <i class="fas fa-bolt"></i>
              {{item.system.powerCapacity}}
            </span>
            <span class="locomotive-stat" data-tooltip="{{localize 'RAILERS.Actor.Locomotive.FIELDS.weight.label'}}">
              <i class="fas fa-weight-hanging"></i>
              {{item.system.weightLimit}}
            </span>
            <span class="locomotive-stat" data-tooltip="{{localize 'RAILERS.Actor.Locomotive.FIELDS.fuel.label'}}">
              <i class="fas fa-gas-pump"></i>
              {{item.system.fuelCapacity}}
            </span>
            <div class="item-controls">
              <a class="item-edit" title="{{localize 'DOCUMENT.Update' type='Locomotive'}}" data-action="viewDoc">
                <i class="fas fa-edit"></i>
              </a>
              {{#if @root.editable}}
                <a class="item-delete" title="{{localize 'DOCUMENT.Delete' type='Locomotive'}}" data-action="deleteDoc">
                  <i class="fas fa-trash"></i>
                </a>
              {{/if}}
            </div>
          </li>
        {{/each}}
      </ol>
    </div>
    {{else}}
      <div class="header-locomotives-empty">
        <a class="item-create" data-action="addLocomotive" title="{{localize 'RAILERS.Actor.Train.actions.addLocomotive'}}">
          <i class="fas fa-plus"></i>
          {{localize 'RAILERS.Actor.Train.actions.addLocomotive'}}
        </a>
      </div>
    {{/if}}
  </div>

  <div class="header-secondary">
    <div class="resource flex-group-center">
      <label class="resource-label">{{localize "RAILERS.Actor.Train.FIELDS.armor"}}</label>
      <div class="resource-content flexrow flex-center flex-between">
        <input type="number" name="system.armor" value="{{system.armor}}"/>
      </div>
    </div>

    <div class="resource flex-group-center">
      <label class="resource-label">{{localize "RAILERS.Actor.Train.FIELDS.speed"}}</label>
      <div class="resource-content flexrow flex-center flex-between">
        <input type="number" name="system.speed" value="{{system.speed}}"/>
      </div>
    </div>

    <div class="resource flex-group-center">
      <label class="resource-label">{{localize "RAILERS.Actor.Train.FIELDS.power.label"}}</label>
      <div class="resource-content flexrow flex-center flex-between">
        <input  type="number" value="{{system.power.value}}" readonly/>
        <span> / </span>
        <input type="number" name="system.power.max" value="{{system.power.max}}"/>
      </div>
    </div>

    <div class="resource flex-group-center">
      <label class="resource-label">{{localize "RAILERS.Actor.Train.FIELDS.weight.label"}}</label>
      <div class="resource-content flexrow flex-center flex-between">
        <input class="w50" type="number" value="{{system.weight.value}}" readonly/>
        <span> / </span>
        <input class="w50" type="number" name="system.weight.max" value="{{system.weight.max}}"/>
      </div>
    </div>

    <div class="resource flex-group-center">
      <label class="resource-label">{{localize "RAILERS.Actor.Train.FIELDS.fuel.value"}}</label>
      <div class="resource-content flexrow flex-center flex-between">
        <input class="w50" type="number" name="system.fuel.value" value="{{system.fuel.value}}"/>
        <span> / </span>
        <input class="w50" type="number" name="system.fuel.max" value="{{system.fuel.max}}"/>
      </div>
    </div>
  </div>

</header>