<div>
  {{#if showInitiative}}
    <div>
      <label for="initiativeMod">{{localize "RAILERS.apps.actorTweaks.initiativeMod"}}</label>
      <input type="number" name="initiativeMod" value="{{initiativeMod}}" placeholder="0"/>
    </div>
    <div>
      <label for="initiativeGroup">{{localize "RAILERS.apps.actorTweaks.initiativeGroup"}}</label>
      <input type="text" name="initiativeGroup" value="{{initiativeGroup}}"/>
      <p class="hint">{{localize "RAILERS.apps.actorTweaks.initiativeGroupHint"}}</p>
    </div>
  {{/if}}

  {{#if isGM}}
    {{#if showCorruption}}
      <hr/>
      <div>
        <label>{{localize "RAILERS.apps.actorTweaks.corruptionOverride"}}</label>
        <input type="number" name="corruptionOverride" value="{{corruption}}" min="0"/>
        <p class="hint">{{localize "RAILERS.apps.actorTweaks.corruptionOverrideHint"}}</p>
      </div>
    {{/if}}
  {{/if}}

  {{#if showFearToggle}}
    <hr/>
    <div>
      <label>{{localize "RAILERS.apps.actorTweaks.showFear"}}</label>
      <input type="checkbox" name="showFear" {{#if showFear}}checked{{/if}}/>
      <p class="hint">{{localize "RAILERS.apps.actorTweaks.showFearHint"}}</p>
    </div>
  {{/if}}

  <footer class="tweaks-footer">
    <button type="button" data-action="close">{{localize "RAILERS.dialogs.base.cancel"}}</button>
    <button type="submit" class="submit" data-action="submit">{{localize "RAILERS.dialogs.base.save"}}</button>
  </footer>
</div>