<div class="weather-hud">
  <div class="weather clickable">
    <img src="{{weather.image}}" alt="{{weather.name}}">{{weather.name}}
  </div>
  <div class="right-column">
    <div class="temperature clickable">
      {{temperature}}
    </div>
    <div class="season clickable">
      {{season}}
    </div>
  </div>
</div>